/*1remを10pxにするためのセレクター*/
html {
    font-size: 62.5%;
}
//------------------------flex boxのmixin------------------------
@mixin flex () {
    display: flex;
}
@mixin direction ($direction: row) {
    flex-direction: $direction;
}
@mixin align ($align: flex-start) {
    align-items: $align;
}
@mixin justify ($justify: flex-start) {
    justify-content: $justify;
}
//------------------------変数------------------------
// color
$white : #fff;
$gray: #3F434A;
$price-color: #F5F5F5;
$product-color: #EAD5DC;
$vase-color: #E7E3DF;
$footer-view-color: #EFDFC5;
$footer-text-color: #86888C;
// width
$section-w: 85vw;
// width ミディアムレスポンシブ
$responsive-m: 70vw;
// padding top
$padding-top: 50px;
$padding-top-pc: 70px;
// padding bottom
$padding-bottom: 60px;
$padding-bottom-pc: 80px;
//------------------------プレースホルダーセレクター------------------------
/* hover */ 
%opacity {
    opacity: 0.6;
}
/* h2 title */ 
%h2-title {
    font-size: 2.2rem;
    font-family: 'Kosugi Maru', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}
/* h3 title */
%h3-teitle {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    text-align: center;
}
/* p text */ 
%p-text {
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
/* P * text */ 
%caution {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
/* ------------------------共通スタイル------------------------ */ 
/* img */ 
.app-img ,
.google-img {
    width: 40vw;
    @media screen and (min-width: 481px) and (max-width: 768px) {
        width: 150px;
    }
    @media screen and (min-width:769px) {
        width: 170px;
    }
}
/*------------------------pcのみに表示------------------------*/
.header__pc {
    display: none;
    @media screen and (min-width: 769px) {
        display: block;
    }
}
.product__pc-img ,
.vase__pc-img {
    display: none;
    @media screen and (min-width: 769px) {
        display: inline;
    }
}
/*------------------------spのみに表示------------------------*/
.product__sp-img ,
.vase__sp-img{
    @media screen and (min-width: 769px) {
        display: none;
    }
}

/*------------------------header------------------------*/
.header {
    width: 100vw;
    background-image: url("../img/top_sp.jpg");
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)

    @media screen and (min-width:769px) {
        height: 100vh;
        background-image: url("../img/top_pc.jpg");
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        @include justify (space-between)
    }
    // header top
        &__top {
            width: 100vw;
            padding-top: 70px;
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
        }
        &__logo-link {
            .logo-img {
                width: 45vw;
                @media screen and (min-width: 481px) and (max-width: 768px) {
                    width: 25vw;
                }
                @media screen and (min-width:769px) {
                    width: 15rem;
                }
            }
        }
        &__text {
            font-family: 'Kosugi Maru', sans-serif;
            color: $white;
            font-size: 1.8rem;
            letter-spacing: .01em;
            padding-top: 20px;
            padding-bottom: 400px;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2rem;
                padding-bottom: 500px;
            }
            @media screen and (min-width:769px) {
                font-size: 2rem;
                padding-bottom: 100px;
            }
        }
        // header__pc
        &__pc {
            @media screen and (min-width:769px) {
                width: 5vw;
                color: $white;
                margin-left: 4rem;
                padding-bottom: 100px;
                @include flex
                @include direction(column)
                @include align (center)
                @include justify (center)
            }
        }
        &__scroll-text {
            @media screen and (min-width:769px) {
                font-family: 'Kosugi Maru', sans-serif;
                font-size: 2rem;
                letter-spacing: 0.2rem;
                writing-mode: vertical-rl;
                padding-bottom: 1rem;
            }
        }
        &__scroll-item {
            @media screen and (min-width:769px) {
                @include flex
                @include direction(column)
                @include align (center)
                @include justify (center)
            }
        }
        &--blink1 {
            @media screen and (min-width:769px) {
                font-size: 1.2rem;
                padding-bottom: 0.3rem;
                animation: blink1 ease-in-out 5s infinite;
            }
        @keyframes blink1 {
            0% {opacity: 0;}
            20% {opacity: 0;}
            30% {opacity: 1;}
            100% {opacity: 1;}
        }
        }
        &--blink2 {
            @media screen and (min-width:769px) {
                font-size: 2rem;
                padding-bottom: 0.3rem;
                animation: blink2 ease-in-out 5s infinite;
            }
        @keyframes blink2 {
            0% {opacity: 0;}
            40% {opacity: 0;}
            50% {opacity: 1;}
            100% {opacity: 1;}
        }
        }
        &--blink3 {
            @media screen and (min-width:769px) {
                width: 4rem;
                animation: blink3 ease-in-out 5s infinite;
            }
        @keyframes blink3 {
            0% {opacity: 0;}
            60% {opacity: 0;}
            70% {opacity: 1;}
            80% {transform: rotate(0deg);}
            85% {transform: rotate(360deg);}
            92% {transform: rotate(0deg);}
            100% {opacity: 1;}
        }
        }
        // header bottom
        &__bottom {
            @media screen and (min-width:769px) {
                padding-top: 50px;
                margin-bottom: 50px;
            }
        }
        &__item {
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
            @media screen and (min-width:769px) {
                @include flex
                @include direction(column)
                @include align (center)
                @include justify (flex-end)
            }
        }
        &__link {
            width: 100vw;
            @include flex
            @include direction(row)
            @include align (center)
            @include justify (center)
        }
        &--opacity:active {
            @extend %opacity;
        }
            .app-img ,
            .google-img {
                padding: 30px 5px 20px ;
                @media screen and (min-width:769px) {
                    padding: 30px 10px 20px ;
                }
            }
        &--opacity {
            &:hover {
                @media screen and (min-width:769px) {
                    opacity: 0.7;
                }
            }
        }
        &__caution {
            color: $white;
            padding-bottom: 60px;
            @extend %caution;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5rem;
                padding-bottom: 80px;
            }
            @media screen and (min-width:769px) {
                font-size: 1.5rem;
                padding-bottom: 30px;
            }
        }
}
/*------------------------main------------------------*/
.main {
    width: 100vw;
    color: $gray;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
}
/*------------------------delivery------------------------*/
.delivery {
    width: 100vw;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
    @media screen and (min-width:769px) {
        @include flex
        @include direction(row)
        @include align (flex-start)
        @include justify (center)
    }
        &__point1 ,
        &__point2 ,
        &__point3 {
            width: 100vw;
            background-image: url(../img/delivery1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
            @media screen and (min-width: 481px) and (max-width: 768px) {
                background-position: 50% 75%;
            }
            @media screen and (min-width:769px) {
                padding-bottom: 300px;
                background-size: cover;
                background-position: center bottom;
                align-self: stretch;
            }
        }
        &__point2 {
            background-image: url(../img/delivery2.jpg);
        }
        &__point3 {
            background-image: url(../img/delivery3.jpg);
        }
        &__point1__back ,
        &__point2__back ,
        &__point3__back {
            width: $section-w;
            color: $white;
            @include flex
            @include direction(column)
            @include align (flex-start)
            @include justify (center)
            @media screen and (min-width:769px) {
                width: ceil($section-w / 3);
            }
        }
        &__point1__title ,
        &__point2__title ,
        &__point3__title {
            padding: 20px 0 15px;
            @extend %h2-title;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 2.5rem;
                padding: 100px 0 30px;
            }
        }
        &__point1__text ,
        &__point2__text ,
        &__point3__text {
            padding-bottom: 400px;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
                padding-bottom: 500px;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
            }
        }
}
/*------------------------price date------------------------*/
/* price */ 
.price-date {
    width: 100vw;
    @media screen and (min-width:769px) {
        @include flex
        @include direction(row)
        @include align (center)
        @include justify (center)
    }
    &__price {
        width: 100vw;
        background-color: $price-color;
        @include flex
        @include direction(column)
        @include align (center)
        @include justify (center)
        @media screen and (min-width:769px) {
            width: ceil(100vw / 2);
        }
        @media screen and (min-width:769px) {
            padding-top: $padding-top-pc;
        }
    }
    &__price-back ,
    &__free-trial {
        width: $section-w;
        @include flex
        @include direction(column)
        @include align (center)
        @include justify (center)
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: $responsive-m;
        }
        @media screen and (min-width:769px) {
            width: ceil($section-w / 2);
        }
    }
    &__price-title {
        padding-top: $padding-top;
        @extend %h3-teitle;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            font-size: 2.2rem;
        }
        @media screen and (min-width:769px) {
            font-size: 2.2rem;
            padding-bottom: 30px;
        }
    }
    &__free-pop {
        width: 40vw;
        padding-top: 15px;
        position: relative;
        z-index: 1;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: 20vw;
        }
        @media screen and (min-width:769px) {
            width: 12rem;
        }
    }
    &__free-img {
        width: 65vw;
        position: relative;
        z-index: 0;
        top: -20px;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: 35vw;
        }
        @media screen and (min-width:769px) {
            width: 20rem;
        }
    }
    &__once {
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 1.5rem;
        color: $gray;
        font-weight: bold;
        text-align: center;
        @extend %p-text;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            font-size: 1.8rem;
        }
        @media screen and (min-width:769px) {
            font-size: 1.8rem;
        }
    }
    &--em {
        font-size: 2rem;
    }
    &__shipping {
        padding-top: 30px;
        @extend %caution;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            font-size: 1.5rem;
        }
        @media screen and (min-width:769px) {
            font-size: 1.5rem;
        }
    }
    &__taxes {
        padding-top: 10px;
        padding-bottom: $padding-bottom;
        @extend %caution;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            font-size: 1.5rem;
        }
        @media screen and (min-width:769px) {
            font-size: 1.5rem;
            padding-bottom: $padding-bottom-pc;
        }
    }
/* date */ 
    &__date {
        width: 100vw;
        @include flex
        @include direction(column)
        @include align (center)
        @include justify (center)
        @media screen and (min-width:769px) {
            width: ceil(100vw / 2);
        }
    }
    &__date-back {
        width: $section-w;
        @include flex
        @include direction(column)
        @include align (center)
        @include justify (center)
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: $responsive-m;
        }
        @media screen and (min-width:769px) {
            width: ceil($section-w / 2);
        }
    }
    &__date-title {
        padding-top: $padding-top;
        @extend %h3-teitle;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            font-size: 2.2rem;
        }
        @media screen and (min-width:769px) {
            font-size: 2.2rem;
            padding-bottom: 30px;
        }
    }
    &__calender{
        width: 60vw;
        padding-top: 30px;
        padding-bottom: 240px;
        position: relative;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: 35vw;
            padding-bottom: 270px;
        }
        @media screen and (min-width:769px) {
            width: ceil($section-w / 2);
            @include flex
            @include direction(column)
            @include align (center)
        }
    }
    &__img1 ,
    &__img2 ,
    &__img3 {
        width: 60vw;
        position: absolute;
        z-index: 5;
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: 35vw;
        }
        @media screen and (min-width:769px) {
            width: 19rem;
        }
    }
    &__img2 ,
    &__img3 {
        animation: blinking2 1.5s ease infinite alternate;
    }
    @keyframes blinking2 {
        0% {opacity: 1;}
        20% {opacity: 0;}
        40% {opacity: 1;}
        41% {opacity: 1;}
        100% {opacity: 1;}
    }
}
/*------------------------product------------------------*/
.product {
    width: 100vw;
    background-color: $product-color;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
    @media screen and (min-width:769px) {
        @include flex
        @include direction(row)
        @include align (center)
        @include justify (space-around)
    }
        &__pc-img {
            width: ceil($section-w / 2.1);
            margin-left: 2rem;
        }
        &__back ,
        &__back-pc {
            width: $section-w;
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: $responsive-m;
            }
            @media screen and (min-width:769px) {
                width: ceil($section-w / 2.1);
                padding: $padding-top 0 $padding-bottom;
                margin-right: 2rem;
            }
        }
        &__back-pc {
            @media screen and (min-width:769px) {
                width: 40rem;
            }
        }
        &__title {
            padding-top: $padding-top;
            @extend %h2-title;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 2.5rem;
                padding: $padding-top-pc 0 80px;
            }
        }
        &__sp-img {
            padding : 30px 0 $padding-top;
            width: 90vw;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 70vw;
            }
        }
        &__cute__title ,
        &__fine__title ,
        &__decorate__title {
            padding-bottom: 20px;
            @extend %h3-teitle;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2.2rem;
            }
            @media screen and (min-width:769px) {
                font-size: 2.2rem;
            }
        }
        &__cute__text ,
        &__fine__text ,
        &__decorate__text {
            padding-bottom: 30px;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
                padding-bottom: 40px;
            }
        }
        &__decorate__text {
            padding-bottom: $padding-bottom;
        }
}
/*------------------------vase------------------------*/
.vase {
    width: 100vw;
    background-color: $vase-color;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
    @media screen and (min-width:769px) {
        @include flex
        @include direction(row)
        @include align (center)
        @include justify (flex-end)
    }
        &__back ,
        &__back-pc {
            width: $section-w;
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: $responsive-m;
            }
            @media screen and (min-width:769px) {
                width: 40%;
                @include flex
                @include direction(column)
                @include align (space-between)
                @include justify (center)
            }
        }
        &__back-pc {
            @media screen and (min-width:769px) {
                width: 40rem;
            }
        }
        &__pc-img {
                width: 45vw;
        }
        &__title {
            text-align: center;
            padding-top: $padding-top;
            @extend %h2-title;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 2.5rem;
                padding-top: $padding-top-pc;
            }
        }
        &__off-pop {
            font-weight: bold;
            padding: 5px;
            background-color: $white;
            margin-top: 15px;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
            }
        }
        &__sp-img {
            width: 100vw;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 70vw;
            }
        }
        &__text {
            padding-top: 30px;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
                width: 100%;
                padding-top: 10rem;
            }
        }
        &__type {
            width: $section-w;
            padding-top: 30px;
            @include flex
            @include direction(row)
            @include align (center)
            @include justify (center)
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: $responsive-m;
            }
            @media screen and (min-width:769px) {
                width: 40rem;
                @include flex
                @include direction(row)
                @include align (center)
                @include justify (space-between)
            }
        }
        &__type__img {
            width: $section-w;
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: $responsive-m;
            }
            @media screen and (min-width:769px) {
                width: 10rem;
            }
        }
        &__img {
            width: 28vw;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 20vw;
                margin: 0px 15px;
            }
            @media screen and (min-width:769px) {
                width: 10rem;
            }
        }
        &__type__text {
            font-weight: bold;
            text-align: center;
            position: relative;
            top: -25px;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
                margin: 0px 30px;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
            }
        }
        &__price {
            width: $section-w;
            @include flex
            @include direction(column)
            @include align (flex-start)
            @include justify (center)
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: $responsive-m;
            }
            @media screen and (min-width:769px) {
                width: 100%;
            }
        }
        &__top {
            @include flex
            @include direction(row)
            @include align (center)
            @include justify (flex-start)
        }
        &__first-time {
            font-weight: bold;
            text-align: center;
            padding: 5px;
            border: 2px solid $gray;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
            }
        }
        &__right {
            margin-left: 20px;
            @include flex
            @include direction(column)
            @include align (flex-start)
            @include justify (center)
        }
        &__discount {
            font-size: 2rem;
            line-height: 1.5;
            // font-weight: bold;
        }
        &__normal {
            @extend %caution;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.5rem;
            }
        }
        &__app-text {
            font-weight: bold;
            padding: 20px 0 $padding-bottom;
            @extend %caution;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.5rem;
                padding-bottom: $padding-bottom-pc;
            }
        }
}
/*------------------------order------------------------*/
.order {
    width: 100vw;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
        &__title {
            text-align: center;
            padding-top: $padding-top;
            @extend %h2-title;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 2.5rem;
                padding-top: 100px;
            }
        }
        &__item {
            width: $section-w;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 90vw;
                @include flex
                @include direction(column)
                @include align (center)
                @include justify (center)
            }
            @media screen and (min-width:769px) {
                padding: 30px 0 150px;
                @include flex
                @include direction(row)
                @include align (center)
                @include justify (space-around)            
            }
        }
        &__item__top {
            padding-top: 30px;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 85vw;
                @include flex
                @include direction(row)
                @include align (flex-start)
                @include justify (space-around)
            }
            @media screen and (min-width:769px) {
                width: 66%;
                padding-top: 0px;
                @include flex
                @include direction(row)
                @include align (center)
                @include justify (space-around)            
            }
        }
        &__guaratees {
            padding: 20px 0 $padding-bottom;
            @media screen and (min-width:769px) {
                width: ceil(100% / 3);
                padding: 0px;
            }
        }
        &__easy ,
        &__app ,
        &__guaratees {
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
        }
        &__app {
            position: relative;
        }
        &__easy--jump ,
        &__app--blinking ,
        &__app-img ,
        &__guaratees--rotation {
            width: 90px;
        }
        &__app--blinking {
            position: absolute;
            z-index: 2;
            top: 0px;
        }
        /* アニメーション */ 
        &__easy--jump {
            animation: jump 1.5s ease infinite alternate;
        }
        @keyframes jump {
            0% {transform: translateY(0px);}
            20% {transform: translateY(-10px);}
            40% {transform: translateY(0px);}
            100% {transform: translateY(0px);}
        }
        &__app--blinking {
            animation: blinking 1.5s ease infinite alternate;
        }
        @keyframes blinking {
            0% {opacity: 0;}
            20% {opacity: 1;}
            40% {opacity: 0;}
            100% {opacity: 0;}
        }
        &__guaratees--rotation {
            animation: rotation 1.5s ease infinite alternate;
        }
        @keyframes rotation {
            0%{transform: rotateY(360deg);}
            65%{transform: rotateY(0deg);}
            100%{transform: rotateY(0deg);}
        }
        &__easy__title ,
        &__app__title ,
        &__guaratees__title {
            padding-bottom: 15px;
            @extend %h3-teitle;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 2.2rem;
            }
            @media screen and (min-width:769px) {
                font-size: 2.2rem;
                padding: 15px 0 20px;
            }
        }
        &__easy__text ,
        &__app__text ,
        &__guaratees__text {
            text-align: center;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
            }
        }
}

/*------------------------footer view------------------------*/
.footer-view {
    width: 100vw;
    background-color: $footer-view-color;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
    @media screen and (min-width:769px) {
        @include flex
        @include direction(row-reverse)
        @include align (center)
        @include justify (center)
    }
        &__item {
            width :100vw;
            @include flex
            @include direction(column)
            @include align (center)
            @include justify (center)
            @media screen and (min-width:769px) {
                width: 40%;
            }
        }
        &__logo {
            width: 35vw;
            padding: $padding-top 0 15px;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 25vw;
            }
            @media screen and (min-width:769px) {
                width: 15vw;
            }
            @media screen and (min-width:769px) {
                width: 15rem;
            }
        }
        &__text {
            font-family: 'Kosugi Maru', sans-serif;
            font-weight: bold;
            padding-bottom: 30px;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
                padding-bottom: 40px;
            }
            @media screen and (min-width:769px) {
                font-size: 2rem;
                padding-bottom: 40px;
            }
        }
        &__link {
            padding-bottom: 20px;
        }
        &--opacity:active {
            @extend %opacity;
        }
        .app-img ,
        .google-img {
            padding: 0px 5px;
        }
        &--opacity {
            &:hover {
                @media screen and (min-width:769px) {
                    opacity: 0.7;
                }
            }
        }
        &__caution {
            @extend %caution;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5rem;
            }
            @media screen and (min-width:769px) {
                font-size: 1.5rem;
                padding-bottom: 40px;
            }
        }
        &__img {
            width: 100vw;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                width: $responsive-m;
            }
            @media screen and (min-width:769px) {
                width: 45%;
            }
        }
}
/*------------------------footer------------------------*/
.footer {
    width: 100vw;
    background-color: $gray;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
        &__item {
            width: $section-w;
            padding: 20px 0;
            @include flex
            @include direction(row)
            @include align (flex-start)
            @include justify (space-between)
            @media screen and (min-width:769px) {
                padding: 40px 0 200px;
                @include flex
                @include direction(row)
                @include align (center)
                @include justify (space-between)

            }
        }
        &__list {
            @include flex
            @include direction(column)
            @include align (flex-start)
            @include justify (flex-end)
            @media screen and (min-width:769px) {
                @include flex
                @include direction(row)
                @include align (center)
                @include justify (center)
            }
        }
        &__link {
            @media screen and (min-width:769px) {
                padding-left: 30px;
            }
        }
        &--flower {
            color: $white;
            text-decoration: none;
            line-height: 3;
            position: relative;
            @extend %p-text;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.8rem;
                line-height: 2;
            }
            @media screen and (min-width:769px) {
                font-size: 1.8rem;
            }
        }
        &--flower::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            display: inline-block;
            pointer-events: none;
            left: -20px;
            opacity: 0.3;
            @media screen and (min-width:769px) {
                width: 45px;
                height: 45px;
                left: -22px;
            }
        }
        &--flower:active::after {
            background-image: url(../img/flower_icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        @media screen and (min-width:768px) {
            &--flower:hover::after {
                background-image: url(../img/flower_icon.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
        &__text {
            color: $footer-text-color;
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: $padding-bottom;
            @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
.instagram-img {
    width: 60px;
}
.instagram-img:active {
    @extend %opacity;
}




